/* ands_style.scss */
/**
 * Top Menu fix
 */
/* line 7, ../sass/ands_style.scss */
#menu a {
  color: white !important;
}
/* line 10, ../sass/ands_style.scss */
#menu .sub-menu li a {
  color: white;
}
/* line 12, ../sass/ands_style.scss */
#menu .sub-menu li a:hover {
  color: #a3be99 !important;
}

/**
 * Site Logo Fix
 */
/* line 22, ../sass/ands_style.scss */
#site-logo a {
  color: white !important;
  font-size: 1.5em !important;
  font-weight: 300;
}

/* line 29, ../sass/ands_style.scss */
.btn-success {
  background-color: #a3be99 !important;
}
