/* ands_style.scss */
/*#a3be99;*/
/**
 * Top Menu fix
 */
/* line 9, ../sass/ands_style.scss */
#menu a {
  color: white !important;
}
/* line 12, ../sass/ands_style.scss */
#menu #menu-nav li a {
  color: white;
}
/* line 14, ../sass/ands_style.scss */
#menu #menu-nav li a:hover {
  color: #c1d0bc !important;
}
/* line 18, ../sass/ands_style.scss */
#menu .sub-menu {
  padding: 0 !important;
}
/* line 20, ../sass/ands_style.scss */
#menu .sub-menu li {
  padding: 3px 0px;
}
/* line 22, ../sass/ands_style.scss */
#menu .sub-menu li a {
  color: white;
}
/* line 24, ../sass/ands_style.scss */
#menu .sub-menu li a:hover {
  color: #7b9b6f !important;
}
/* line 28, ../sass/ands_style.scss */
#menu .sub-menu li:hover {
  background: #2b2b2b;
}
/* line 32, ../sass/ands_style.scss */
#menu .sub-menu .sub-menu {
  left: 100%;
  top: 5px;
  background: #2b2b2b;
}
/* line 37, ../sass/ands_style.scss */
#menu .sub-menu .k-dropdown-menu-sub-indicator > a:after {
  content: "\f0da";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 52, ../sass/ands_style.scss */
.bold {
  font-weight: bold !important;
}

/* line 55, ../sass/ands_style.scss */
blue {
  color: blue;
}

/* line 58, ../sass/ands_style.scss */
green {
  color: green;
}

/* line 62, ../sass/ands_style.scss */
.pre-small {
  font-size: 0.8em;
}

/**
 * Site Logo Fix
 */
/* line 68, ../sass/ands_style.scss */
#site-logo a {
  color: #C1D0BC !important;
  font-size: 1.5em !important;
  font-weight: 300;
}

/* line 75, ../sass/ands_style.scss */
.btn-success {
  background-color: #7b9b6f !important;
}

/* line 80, ../sass/ands_style.scss */
figure.panel-figure {
  background-color: white;
  padding: 30px;
  margin: 0 10px;
}

/* line 86, ../sass/ands_style.scss */
.k-fancy-title-wrap {
  margin-top: 20px;
}
/* line 88, ../sass/ands_style.scss */
.k-fancy-title-wrap .k-fancy-title {
  margin: 20px 0;
}

/* line 93, ../sass/ands_style.scss */
.table {
  table-layout: fixed;
  word-wrap: break-word;
}
/* line 96, ../sass/ands_style.scss */
.table code {
  white-space: normal !important;
}

/* line 101, ../sass/ands_style.scss */
.mq-box > a, .k-fancy-icon-wrap a {
  color: #444;
}

/* line 107, ../sass/ands_style.scss */
.k-work-grid .mq-box {
  margin-top: 30px;
}

/* Footer color changes */
/* line 115, ../sass/ands_style.scss */
#k-footer .widget-title, #k-footer .widget p, #k-footer .widget a {
  color: #c1d0bc !important;
}
/* line 118, ../sass/ands_style.scss */
#k-footer .widget_categories ul li {
  font-size: 12px;
  line-height: 13px;
}

/* line 124, ../sass/ands_style.scss */
.plan-ands {
  border: 3px solid #7b9b6f;
}
/* line 126, ../sass/ands_style.scss */
.plan-ands .plan-title, .plan-ands .plan-footer {
  background: #7b9b6f;
}
/* line 129, ../sass/ands_style.scss */
.plan-ands .btn-pricing-plan {
  background: #7b9b6f;
  color: #fff;
}
/* line 132, ../sass/ands_style.scss */
.plan-ands .btn-pricing-plan:hover {
  color: #c1d0bc;
}

/* line 138, ../sass/ands_style.scss */
.w-section {
  border-bottom: 1px solid #ebe8e3;
}
/* line 140, ../sass/ands_style.scss */
.w-section .img-full {
  width: 100%;
}

/* line 145, ../sass/ands_style.scss */
.k-dd100 {
  margin-left: 100px;
}
