/* ands_style.scss */
$ands_green : #a3be99;
/**
 * Top Menu fix
 */
#menu{
	a{
		color: white !important;
	}
	.sub-menu li a{
		color: white;
		&:hover{
			color: $ands_green !important;
		}
	}
}

/**
 * Site Logo Fix
 */
#site-logo{
	a{
		color:white !important;
		font-size:1.5em !important;
		font-weight:300;
	}
}

.btn-success{
	background-color:$ands_green !important;
}


figure.panel-figure{
  background-color:white;
  padding:30px;
  margin: 0 10px;
}

.k-fancy-title-wrap{
	margin-top:20px;
	.k-fancy-title{
		margin:20px 0;
	}
}